body {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
  background-color: #222;
  margin: 0;
  padding: 1rem;
}
h1, h2 {
  color: #eee;
}
.award {
  padding-bottom: 1rem;
  border-bottom: 0.5rem dashed #eee;
}
.nominees {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  list-style: none;
  padding: 0;
}
.nominees > figure {
  background-color: #333;
  border-radius: 0.5rem;
  padding: 1rem;
  color: #ccc;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  margin: 0;
  padding: 1rem;
}
.nominees > figure img {
  border-radius: 0.5rem;
  width: 100%;
}
h3 {
  margin-top: 0;
  padding-top: 0;
}
h3 a {
  color: #eee;
  text-decoration: none;
}
a {
  color: #ccc;
  text-decoration: none;
}
a + a::before {
  content: ', ';
}
